.slider{
  display: flex;
  flex-flow: column nowrap;
  margin: 64px 0;
}

.slider-main{
  position: relative;
  max-height: 100%;
}

img.slider-img{
  margin: unset!important;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
  max-width: 100%;
  user-select: none;
  visibility: hidden;
}

img.slider-img.slideReady, .slider-selector-container.slideReady{
  visibility: visible;
}

.slider-selector-container{
  overflow-x: auto;
  overflow-y: hidden;
  flex: 0 0 240px;
  position: relative;
  visibility: hidden;
}

.slider-selector{
  display: flex;
  flex-flow: row nowrap;
  height: 240px;
  position: relative;
  box-sizing: border-box;
  padding: 16px 0;
}

img.slider-select{
  width: unset;
  max-width: unset;
  height: 100%;
  box-sizing: border-box;
  margin: 0 16px 0 0 !important;
  user-select: none;
  opacity: 0.5;
}

img.slider-select:last-of-type{
  margin-right: 0;
}

img.slider-select.slide-selected{
  opacity: 1.0;
}

.slider-select, .slider-nav{
  cursor: pointer;
}

.slider-placeholder{
  visibility: hidden;
}

.slider-nav{
  position: absolute;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  font-family: 'Inconsolata';
  font-weight: 700;
  top: 50%;
  background-color: #fff;
  transition: all 0.2s ease;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  opacity: 0.5;
  user-select: none;
}

.slider-nav:hover{
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  opacity: 1.0;
  transition: all 0.2s ease;
}

.slider-prev{
  transform: translate(-50%,-50%);
}

.slider-next{
  right: 0;
  transform: translate(50%,-50%);
}

.slider-load{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.slider-load-icon{
  display: inline-block;
  margin-bottom: 16px;
  opacity: 0.2;
}

.slider-load-text{
  text-align: center;
}

.slider-load-icon:after{
  content: " ";
  display: block;
  width: 32px;
  height: 32px;
  margin: 1px;
  border-radius: 50%;
  border: 8px solid #000;
  border-color: #000 transparent #000 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (min-height: 700px){
  .slider{
    max-height: 95vh;
  }

  .slider-img.maxHeight{
    max-height: 100%!important;
  }
}

@media (max-heigth: 700px){
  .slider-selector-container{
    flex-basis: 180px;
  }

  .slider-selector{
    height: 180px;
  }

  img.slider-img{
    max-height: 650px!important;
  }
}
