body{
  font-family: 'Karla';
  margin: 0;
  font-size: 20px;
  line-height: 1.6;
}

a{
  color: #0085FF;
  text-decoration: none;
  border-bottom: 2px solid #0085FF;
  word-break: break-all;
}

/* SIDEBAR */
/* SIDEBAR */
/* SIDEBAR */
/* SIDEBAR */
/* SIDEBAR */

.hamburger{
  position: fixed;
  line-height: 0.9;
  top: 0;
  left: 0;
  text-align: center;
  height: 48px;
  width: 48px;
  line-height: 48px;
  z-index: 600;
  background-color: #fff;
  color: #000;
  border-radius: 0 0 8px 0;
}

.sidebar{
  z-index: 500;
  width: 240px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  box-sizing: border-box;
  text-align: right;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  transition: all 0.4s ease;
}

.sidebar-inner{
  padding-right: 48px;
}

.item a{
  transition: all 0.2s ease;
  color: #000;
  opacity: 0.4;
  border-bottom: 2px solid rgba(0,0,0,0);
}

.item a:hover{
  opacity: 1.0;
  border-bottom: 2px solid rgba(0,0,0,1.0);
}

.item-selected a{
  font-weight: 700;
  opacity: 1.0;
  border-bottom: none;
}

.item-selected a:hover{
  border-bottom: none;
}

.item-twitter a:hover{
  color: #0084b4;
  border-bottom: 2px solid #0084b4!important;
}

.item-youtube a:hover{
  color: #bb0000;
  border-bottom: 2px solid #bb0000!important;
}

.item-instagram a:hover{
  color: #bc2a8d;
  border-bottom: 2px solid #bc2a8d!important;
}

.sidebar-divider{
  height: 1px;
  width: 80px;
  margin: 36px 0 36px auto;
  background-color: #000;
  opacity: 0.3;
}

/* HOMEPAGE */
/* HOMEPAGE */
/* HOMEPAGE */
/* HOMEPAGE */
/* HOMEPAGE */

.home-name{
  font-size: 56px;
  letter-spacing: -1px;
  line-height: 0.9;
}

.home-image{
  width: 96px;
  margin-bottom: 128px;
  border-radius: 2px;
}

.home-left, .home-right{
  max-width: 500px;
}

.home-right{
  margin-top: 96px;
}

.home-inner{
  z-index: 1;
  position: relative;
}

.content-dark{
  background-color: #111;
  color: #fff;
}

#home-outer{
  padding-top: 128px;
  padding-bottom: 192px;
  min-height: 100vh;
}

.home-back{
  background-image: url("assets/beach-profile.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  max-width: 300px;
  width: 100%;
  padding-bottom: 300px;
  margin-top: -48px;
  margin-bottom: 48px;
  border-radius: 2px;
}

.content-outer{
  position: relative;
  width: 100%;
  padding: 32px;
  box-sizing: border-box;
}

.content-outer img{
  display: block;
}

.content-outer h1{
  margin-top: 64px;
}

.content-outer h3{
  font-family: 'Chivo';
  margin-top: 64px;
  margin-bottom: 20px;
}

.content-outer p{
  max-width: 500px;
}

.content-outer p i{
  font-family: 'Lato';
  letter-spacing: 1px;
}

.content-outer .break{
  height: 64px;
}

/* ABOUT */
/* ABOUT */
/* ABOUT */
/* ABOUT */
/* ABOUT */

.about-pic{
  width: 100%;
  max-width: 800px;
  border-radius: 4px;
}

.skills-item{
  position: relative;
  box-sizing: border-box;
  max-width: 400px;
  color: #fff;
  margin: 2px 0;
}

.skills-item img{
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: inline-block;
  height: 24px;
  width: 24px;
  margin: 0;
}

.skills-bar{
  z-index: -100;
  padding-left: 48px;
  box-sizing: border-box;
  border-radius: 4px;
}

.skills-noicon .skills-bar{
  padding-left: 14px;
}

.skills-bar span{
  padding: 12px 0;
  line-height: 1.2;
  display: inline-block;
}

.skills-100{
  width: 100%;
  background-color: #005DAF;
}

.skills-80{
  width: 80%;
  background-color: #0085FF;
}

.skills-60{
  width: 60%;
  background-color: #6BB9FF;
}

.skills-40{
  position: absolute;
  height: 48px;
  width: 40%;
  height: 100%;
  top: 0;
  background-color: #C6E4FF;
}

.skills-40 + img{
  filter: invert();
  opacity: 0.7;
}

.skills-hidden{
  width: 100%;
}

.skills-low{
  color: #000;
}

img.work-logo{
  width: 120px;
  height: 120px;
  margin: 0;
}

/* PROJECTS */

.projects-tabs-outer{
  display: flex;
  flex-flow: row nowrap;
}

.projects-tabs-outer input{
  display: none;
}

.projects-tabs-outer input[type="radio"]:checked+label{
  font-weight: 700;
  opacity: 1.0;
  transition: all 0.2s ease;
}

.projects-tabs-outer input[type="radio"]:checked+label:hover{
  border-bottom: 2px solid rgba(0,0,0,0);
}

.projects-tabs{
  overflow-x: auto;
  display: flex;
  flex-flow: row nowrap;
}

.projects-tab{
  flex: auto 0 0;
  opacity: 0.5;
  padding: 2px 0;
  margin: 0 16px;
  transition: all 0.2s ease;
  cursor: pointer;
  border-bottom: 2px solid rgba(0,0,0,0);
}

label.projects-tab:first-of-type{
  margin-left: 0;
}

.projects-tab:hover{
  opacity: 1.0;
  border-bottom: 2px solid #000;
}

.projects-container{
  display: flex;
  flex-flow: row wrap;
  margin-top: 48px;
}

.project-outer{
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 15%;
  line-height: 1.2;
  transition: all 0.2s ease;
}

.project-outer:hover{
  opacity: 1;
  transform: scale(1.02);
}

@media (min-width: 1280px){
  .home-back{
    min-height: 400px;
    height: 100vh;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 72px;
    opacity: 0.4;
    background-size: auto 80%;
    padding-bottom: 0;
    max-width: 500px;
    margin: 0;
  }
}

@media (min-width: 960px){
  .project-outer{
    width: 50%;
    padding-bottom: 6%;
    padding-right: 3%;
  }

  .projects-container{
    margin-top: 96px;
  }
}

@media (min-width: 1440px){
  .home-left, .home-right{
    flex: 400px 1;
    margin-right: 48px;
  }

  .home-right{
    margin-top: 0;
  }

  .home-inner{
    display: flex;
    flex-flow: row nowrap;
  }

  .project-outer{
    width: 33%;
  }
}

.project-outer img{
  width: 100%;
  border-radius: 6px;
}

.project-date{
  margin-top: 20px;
  opacity: 0.4;
}

.project-title{
  font-family: 'Chivo';
}

/* ANIMATE */
/* ANIMATE */
/* ANIMATE */
/* ANIMATE */
/* ANIMATE */

.content-outer{
  animation: fadein 1s ease;
}

@keyframes fadein{
  from {opacity: 0;}
  to {opacity: 1;}
}

/* RESPONSIVE */
/* RESPONSIVE */
/* RESPONSIVE */
/* RESPONSIVE */
/* RESPONSIVE */

@media (min-width: 868px){
  .content-outer h1{
    font-size: 56px;
  }

  .hamburger{
    display: none;
  }

  .content-outer{
    padding: 128px 64px 128px 304px;
  }

  #home-outer{
    font-size: 26px;
  }
}

@media (max-width: 867px){
  .sidebar-hidden{
    left: -240px;
  }

  .sidebar{
    background-color: #fff;
  }

  .sidebar-inner .item a{
    color: #000!important;
  }

  .content-outer{
    width: 100%;
    padding: 0 calc(50% - 282px);
  }
}

@media (max-width: 628px){
  .content-outer{
    padding: 128px 32px;
  }

  .home-name{
    font-size: 42px;
  }
}
