body{
  margin: 0;
  font-family: 'Tw Cen MT';
  font-size: 20px;
  transition: background-color 0.8s ease;
  overflow-x: hidden;
}

.center{
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.center-vert{
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.center-both{
  display: inline-block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

a{
  color: unset;
  text-decoration: unset;
}

.link{
  color: darkblue;
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
}

.navlink{
  font-family: 'Tw Cen MT'!important;
  text-decoration: none;
  border-bottom: 1px solid blue;
}

/* PAGE */
/* PAGE */
/* PAGE */
/* PAGE */
/* PAGE */

.page-section{
  position: relative;
  top: 0;
}

.page-outer{
  max-width: 2000px;
  margin: 0 auto;
  padding: 0 24px;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  top: 0;
}

.page-inner{
  position: relative;
}

@media (min-width: 600px){
  .page-inner{
    padding: 0 28px;
  }
}

@media (min-width: 1200px){
  .page-inner{
    padding: 0 60px;
  }
}

/* HOME */
/* HOME */
/* HOME */
/* HOME */
/* HOME */

.page-home{
  padding-top: 192px;
}

.page-breaker{
  height: 1px;
  width: 100%;
  background-color: rgba(0,0,0,0.3);
  margin: 128px 0;
}

.home-text{
  overflow-wrap: break-word;
  font-family: 'Playfair Display';
  font-size: 28px;
  max-width: 1000px;
  line-height: 1.4;
  font-weight: 400;
  color: rgba(0,0,0,0.9);
}

.home-text b{
  font-family: 'Playfair Display';
  color: #000;
  font-weight: 700;
}

.home-text a{
  font-family: 'Playfair Display';
}

.home-logo{
  width: 128px;
  margin-bottom: 128px;
}

.home-media{
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 64px 0;
  line-height: 1.4;
}

.home-media-click span{
  cursor: pointer;
}

.home-media .fa{
  margin-right: 8px;
}

@media (min-width: 600px){
  .home-text{
    font-size: 54px;
  }
}


/* PROJECTS */
/* PROJECTS */
/* PROJECTS */
/* PROJECTS */
/* PROJECTS */

.projects-container{
  flex-flow: row wrap;
  display: flex;
  margin-bottom: 128px;
}

.project-item img{
  width: 100%;
}

.project-item{
  position: relative;
  flex: 100% 0 0;
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
  padding: 32px 0;
}

.project-item-inner{
  position: relative;
}

.project-descript{
  line-height: 1.3;
  padding-top: 16px;
}

.project-category{
  display: inline-block;
  opacity: 0.2;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 16px;
  position: relative;
  top: 4px;
  text-transform: uppercase;
}

.project-number{
  opacity: 0.03;
  width: 100%;
  font-size: 1100px;
  color: #fff;
  font-weight: 700;
  position: absolute;
  line-height: 0.6;
  overflow: hidden;
}

@media (max-width: 2000px){
  .project-number{
    font-size: 50vw;
  }
}

@media (min-width: 600px){
  .project-descript{
    top: 20px;
    left: 40px;
    color: #fff;
    position: absolute;
    font-weight: 400;
  }

  .project-descript-top-right{
    text-align: right;
    right: 40px;
  }

  .project-item{
    padding: 16px;
  }
}

@media (min-width: 1000px){
  .project-descript{
  }

  .project-item{
    flex: 50% 0 0;
  }

  div.project-item:nth-of-type(2n){
    top: 128px;
  }
}

@media (min-width: 1200px){
  .project-item{
    padding: 32px;
  }

  .project-descript{
    top: 20px;
    left: 40px;
  }

  .project-descript-top-right{
    right: 40px;
  }

  .projects-container{
    padding: 28px;
  }
}

/* PROJECT PAGE */
/* PROJECT PAGE */
/* PROJECT PAGE */
/* PROJECT PAGE */
/* PROJECT PAGE */

#h4h-hero{
  background-color: #142D70;
  color: #fff;
}

.project-intro h1{
  font-family: 'Roboto';
  font-size: 56px;
  font-weight: 300;
}

.project-hero-descript{
  padding: inherit;
  padding-bottom: 96px;
}

.intro-object{
  position: absolute;
  bottom: 0;
  right: 64px;
  z-index: -1;
  height: 90%;
  display: none;
}

.project-table{
  color: #fff;
  text-align: left;
  font-size: 20px;
}

.project-table th{
  text-transform: uppercase;
  letter-spacing: 1px;
}

.project-table td, th{
  padding: 6px 12px 6px 0;
}

.page-section p{
  line-height: 1.8;
  font-family: 'Roboto';
  font-weight: 400;
}

.page-section-half{
  min-height: 80vh;
  background-size: cover;
  background-position: center center;
  padding: 28px;
}

.page-section-half-inner{
  margin: 0 auto;
  max-width: 700px;
}

.project-section .slider{
  min-height: 80vw;
  max-width: 1200px;
  margin: 0 auto;
}

.slide img{
  display: inline-block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 100%;
  max-height: 90%;
}

.slider-button-outer{
  position: relative;
  top: -8px;
  transform: translateY(-50%);
  font-size: 20px;
  letter-spacing: 1px;
}

.slider-button-outer span{
  opacity: 0.4;
}

.slider-button-outer span:hover{
  cursor: pointer;
  opacity: 1.0;
}

.indicator{
  opacity: 0.1;
  display: inline-block;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  margin: 0 8px;
}

.project-dark{
  background-color: #222;
  color: #fff;
}

.project-light{
  background-color: #fff;
  color: #000;
}

.project-dark .indicator{
  background-color: #fff;
}

.project-light .indicator{
  background-color: #000;
}

#slideposition{
  z-index: 2;
  position: relative;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

#slideposition ul{
  margin: 0;
  padding: 0;
}

.indicator:hover{
  opacity: 0.4;
  cursor: pointer;
}

.indicator.active{
  opacity: 1.0;
}

.double-column{
  padding-top: 64px;
}

.project-section{
  padding: 0 0 32px 0;
}

.page-section-half table{
  padding: 0;
  font-size: 24px;
  border-collapse: collapse;
}

.page-section-half table td, .page-section-half table th{
  padding: 6px 12px;
  border: 1px solid rgba(0,0,0,0.5);
  margin: 0;
}

.page-section-half table th{
  text-align: left;
}

@media (max-width: 600px){
  .project-intro h1{
    font-size: 36px;
  }
}

@media (min-width: 1200px){
  .project-hero-descript{
    position: absolute;
    max-width: 600px;
    left: 0;
    bottom: 0;
  }

  .project-intro{
    min-height: 1000px;
    height: 80vh;
  }

  .project-intro h1{
    font-size: 96px;
  }

  .page-section p{
    font-size: 24px;
    margin: 0;
    padding: 16px 0;
    max-width: 700px;
  }

  .page-section-double, .double-column{
    display: flex;
    flex-direction: row;
  }

  .page-section-half{
    flex: 1 1 50%;
    min-height: 800px;
  }

  .double-column-inner{
    flex: 1 1 50%;
    max-width: 700px;
    padding-right: 64px;
  }

  .page-section-half-inner{
    margin: 0;
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 64px 64px 64px 96px;
  }

  .page-section-half-left{
    float: right;
  }

  .intro-object{
    display: inline-block;
  }

  .project-section .slider{
    min-height: 800px;
  }

  .project-section{
    padding: 64px 0 128px 0;
  }
}

/* ANIMATE */
/* ANIMATE */
/* ANIMATE */
/* ANIMATE */
/* ANIMATE */

.fadein-1, .fadein-2, .fadein-3{
  animation: fade 0.8s 0.2s;
  animation-fill-mode: both;
}

.fadein-2{
  animation-delay: 0.8s;
}

.fadein-3{
  animation-delay: 1.2s;
}

@keyframes fade{
  0% {opacity: 0;}
  100% {opacity: 1.0;}
}

.floaton-right{
  animation: floaton-right 0.8s 0.2s;
  animation-fill-mode: both;
}

.floaton-left{
  animation: floaton-left 0.8s 0.2s;
  animation-fill-mode: both;
}

.floaton-bottom{
  animation: floaton-bottom 0.8s 0.2s;
  animation-fill-mode: both;
}

@keyframes floaton-right{
  0% {left: 240px; opacity: 0;}
  100% {left: 0; opacity: 1.0;}
}

@keyframes floaton-left{
  0% {left: -240px; opacity: 0;}
  100% {left: 0; opacity: 1.0;}
}

@keyframes floaton-bottom{
  0% {top: 64px; opacity: 0;}
  100% {top: 0px; opacity: 1.0;}
}
