body{
  margin: 0;
  font-size: 24px;
  font-family: 'Barlow';
  animation: fadein 1s ease;
}

@keyframes fadein{
  from {opacity: 0;}
  to {opacity: 1;}
}

*{
  box-sizing: border-box;
}

a{
  color: #0085FF;
  text-decoration: none;
}

 .container{
   max-width: 1300px;
   margin: 0 auto;
   min-height: 100vh;
 }

 p{
   line-height: 1.4;
 }

 h1{
   font-size: 64px;
   margin: 0;
 }

 .page p, .page h1, .page ul, .page blockquote, .page .small-head, .page .head-p{
   max-width: 700px;
 }

 .page div.small-head:first-of-type{
   margin-bottom: 16px;
 }

 .page img{
   max-width: 100%;
   margin: 32px 0;
   max-height: 85vh;
 }

 .head-p{
   margin-top: 32px;
   margin-bottom: 32px;
   line-height: 1.5;
 }

 .page p, .page ul, .page blockquote{
   font-family: 'Roboto';
   margin-top: 42px;
   margin-bottom: 42px;
   margin-left: 0;
   font-weight: 400;
   font-size: 20px;
   line-height: 1.6;
 }

 .page ul{
   padding-left: 20px;
 }

 .page blockquote{
   font-style: italic;
   padding-left: 16px;
   border-left: 1px solid #000;
 }

 .page .video-container{
   margin: 64px 0;
 }

 .divider{
   width: 64px;
   height: 4px;
   background-color: #546e8d;
   margin: 48px 0;
 }

 .small-head{
   text-transform: uppercase;
   font-weight: 700;
   letter-spacing: 1px;
   margin: 84px 0 48px 0;
 }

 .home-tabs{
   display: flex;
   flex-flow: row nowrap;
   overflow-x: auto;
 }

 .home-tabs input{
   display: none;
 }

 .home-tabs input[type="radio"]:checked+label{
   opacity: 1.0;
 }

 .home-tabs .small-head{
   display: inline-block;
   margin-right: 24px;
   opacity: 0.2;
   margin-top: 0;
   margin-bottom: 0;
   cursor: pointer;
   transition: all 0.05s ease;
   flex: auto 0 0;
 }

 .home-tabs label.small-head:last-of-type{
   padding-right: 32px;
 }

 .home-tabs .small-head.label-design a{
   color: unset;
   transition: all 0.05s ease;
 }

 .home-tabs .small-head.label-design a:hover{
   color: #0085FF;
 }

 .home-tabs .small-head:hover{
   opacity: 0.4;
 }

 .home-tabs .tab-divider{
   opacity: 0.4;
   padding: 0 8px;
   font-weight: 400;
   pointer-events: none;
 }

.content-container{
  width: 100%;
  padding-left: 264px;
  min-height: 100vh;
  padding-right: 64px;
  padding-bottom: 192px;
  padding-top: 100px;
}

.content-container-inner{
  max-width: 1000px;
  margin: 0 auto;
}

.home-prof{
  width: 256px;
  margin: 32px 0;
}

.home-prof img{
  border-radius: 50%;
  width: 100%;
}

.hero-text{
  font-size: 42px;
  line-height: 1.4;
  max-width: 900px;
  margin: 64px 0;
}

.project-item.home-reel{
  flex-basis: 100%;
  border-radius: 4px;
  transform: translateY(0px);
}

.hero-video{
  width: 100%;
  position: relative;
  margin: 32px 0;
  box-shadow: 0 4px 38px rgba(0,0,0,0.30), 0 4px 12px rgba(0,0,0,0.22);
}

.video-container{
  width: 100%;
  padding-bottom: 56.25%;
  position: relative;
  background-color: #222;
}

.video-container iframe{
  position: absolute;
  width: 100%;
  height: 100%;
}

.projects{
  display: flex;
  flex-flow: row wrap;
  min-height: 99vh;
}

.project-item{
  flex-basis: 100%;
  display: inline-flex;
  flex-flow: column nowrap;
  padding: 16px 8px;
}

.project-item img, .project-item .video-container{
  width: 100%;
  transition: all 0.4s ease;
  border-radius: 4px;
}

.project-item img:hover, .project-item .video-container:hover{
  box-shadow: 0 6px 20px rgba(0,0,0,0.19), 0 4px 6px rgba(0,0,0,0.23);
  transition: all 0.2s ease;
  transform: translateY(-8px);
  opacity: 0.8;
}

.project-item h2{
  margin: 0;
  margin-top: 8px;
  font-size: 20px;
  font-weight: 600;
  color: #000;
}

.project-item p{
  margin: 0;
  font-size: 20px;
  font-weight: 300;
}

.profile{
  max-width: 500px;
}

.cat-img{
  max-width: 480px;
}

.other-item{
  margin-top: 48px;
  font-weight: 700;
}

div.other-item:not(:first-of-type){
  padding-top: 48px;
  border-top: 1px solid rgba(0,0,0,0.4);
}

.other-item + p{
  margin-top: 8px;
}

.page .divider{
  margin: 128px 0 64px 0;
}

.footer-text{
  line-height: 1.4;
}

.footer-text div{
  margin: 8px 0;
}

.footer img{
  max-width: 160px;
  border-radius: 50%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.footer-links{
  display: flex;
  flex-flow: row nowrap;
  font-weight: 700;
  overflow-x: auto;
}

.footer-links div{
  margin-right: 24px;
  display: inline-block;
  flex: auto 0 0;
}

@media (min-width: 620px){
  .small-head{
    font-size: 28px;
  }

  .project-item{
    flex-basis: 50%;
  }

  .footer{
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
  }

  .footer-pic{
    margin-right: 48px;
  }

  .footer img{
    max-width: 256px;
  }

  .footer-text{
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
  }

}

@media (max-width: 960px){
  body{
    font-size: 20px;
  }

  .content-container{
    padding-left: 172px;
    padding-right: 48px;
  }

  .hero-text{
    font-size: 32px;
  }

  .page h1{
    font-size: 56px;
  }
}

@media (max-width: 760px){
  .content-container{
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (max-width: 500px){
  .content-container{
    padding-left: 20px;
    padding-right: 20px;
  }

  .hero-text{
    font-size: 28px;
  }

  .page h1{
    font-size: 36px;
  }

  .page p, .page ul, .page blockquote{
    margin-left: 0;
  }

  .page .video-container{
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .project-item{
    padding-left: 0;
    padding-right: 0;
  }
}
