{% assign item = include.data %}
<div class='about-item-outer'>
  <div class='about-item'>
    <span class='about-name'>{{ item.name }}</span>
    <span class='about-role'>{{ item.role }}</span>
  </div>
  <div class='about-more-info'>
    <div class='about-more-info-inner'>
      {% if item.link %}{% include artlink.html data=item.link %}{% endif %}
      <div class='about-info-text'>
        {% if item.image %}{% include image-gen.html src=item.image %}{% endif %}
        <p>{{ item.descript }}<br/><br/>{% if item.weblink %}More Info: <a href='{{ item.link}}'>{{ item.weblink }}</a>{% endif %}</p>
      </div>
    </div>
  </div>
</div>
