{% if page.topStrip == 'video case study' %}
{% assign isVid = true %}
{% endif %}

{% if page.cat == 'eng' %}
{% assign isEng = true %}
{% endif %}

{% if page.slider-custom-extensions %}
{% assign custExt = true %}
{% endif %}

<div class='slider'>
  <div class='slider-load'>
    <div class='slider-load-icon'></div>
    <div class='slider-load-text'><span>Loading Images</span></div>
  </div>
  <div class='slider-main'>
    {% include slider-gen-inner.html data=include.data class='slider-img' %}
  </div>
  <div class='slider-selector-container'>
    <div class='slider-selector'>
      {% include slider-gen-inner.html data=include.data class='slider-select' %}
    </div>
  </div>
</div>
