body{
	margin: 0;
	padding: 0;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
}

.home-body{
	border: solid 32px #fff;
	box-sizing: border-box;
	transition: all 0.3s ease;
	background-color: #222;
}

.page-body{
	background-color: #fff;
}

.navbar{
	color: #fff;
	position: fixed;
	bottom: 0;
	padding-left: 24px;
	left: 0;
	width: 100%;
	height: 64px;
	z-index: 999;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	visibility: hidden;
}

.page-body .navbar{
	background-color: #222;
	color: #fff;
	visibility: visible;
}

.navbar-title, .navbar-author{
	display: inline-block;
}

.navbar-title{
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	letter-spacing: 4px;
	border-right: 1px solid #fff;
	padding-right: 16px;
	margin-right: 16px;
}

.navbar-right{
	position: fixed;
	right: 0;
	bottom: 0;
}

.navlink{
	height: 100%;
	box-sizing: border-box;
	display: inline-block;
	padding: 0 12px;
}

.navlink.selected{
	background-color: #fff!important;
}

.navlink.selected span a{
	color: #222;
}

.navlink:hover{
	background-color: #333;
}

.navlink span{
	display: inline-block;
	text-transform: uppercase;
	font-family: 'Roboto Condensed';
	letter-spacing: 1px;
	padding: 20px 0;
}

.navlink span a{
	color: #fff;
	text-decoration: none;
}

.overlay{
	width: calc(100% - 64px);
	height: calc(100% - 64px);
	position: fixed;
	top: 32px;
	left: 32px;
	background-color: rgba(0,0,0,0.4);
	z-index: 999;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease;
}

.overlay-button{
	color: #fff;
	text-align: center;
	padding-top: 64px;
}

.overlay-inner{
}

.overlay-title{
	text-align: center;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-size: 200px;
	letter-spacing: 8px;
	color: #fff;
	line-height: 1.0;
}

.overlay-title span:first-of-type{

}

.russia{
	font-size: 210px;
	font-weight: 700;
}

.home-main{
	width: 100%;
	height: 100%;
}

.section-wrapper{
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: row nowrap;
}

.section-title{
	color: #fff;
	padding: 32px;
	display: none;
	background-color: #222;
}

#putin-bear .section-title{
	background-color: #111;
}

.wrapper{
	flex-grow: 1;
	display: flex;
	flex-flow: column nowrap;
	transition: all 0.6s ease;
	position: relative;
}

.wrapper:hover{
	flex-grow: 1.5;
	transition: all 0.6s ease;
}

.wrapper-text{
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: red;
}

.section:hover > .section-title{
	display: inline-block;
}

.section{
	cursor: pointer;
	filter: grayscale(1.0) contrast(0.4);
	flex-grow: 1;
	background-position: center center;
	background-size: cover;
	transition: all 0.6s ease;
}

.section:hover{
	filter: grayscale(0) contrast(1.0);
	flex-grow: 6;
	transition: all 0.6s ease;
}

#putin-bear{
	background-image: url("putin1.jpg");
}

#t-34{
	background-image: url("t34.jpg");
}

#putin-winter{
	background-image: url("putin2.jpg");
}

#submarine{
	background-image: url("submarine1.jpg");
}

.page-main{
	width: 100%;
	height: 100%;
}

.page-header{
	width: 100%;
	height: 100%;
	background-attachment: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.page-content{
	min-height: 400px;
	width: 800px;
	display: block;
	position: relative;
	margin: 0 auto;
	padding-bottom: 192px;
	line-height: 1.6;
	font-size: 20px;
}

.page-content table tr td{
	font-size: 20px;
	padding: 12px;
	text-align: center;
	margin: 0;
}

.page-content table tr td:hover{
	background-color: #eee;
}

.page-content table{
	width: 100%;
	border-collapse: collapse;
	margin: 42px 0;
}

.page-content table tr:nth-of-type(even){
	background-color: #ddd;
}

.page-content table tr{
	border: 1px solid #ddd;
}

.page-content h1{
	padding-top: 128px;
}

.page-content h2{
	margin-top: 86px;
	text-align: center;
}

.page-content img{
	width: 100%;
	margin: 64px 0;
}

.page-content p, .page-content ul, .page-content ol{
	width: 600px;
	margin: 32px auto;
}

.header-content{
	width: 400px;
	height: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.header-title{
	color: rgba(255,255,255,0.9);
	font-family: 'Oswald';
	text-transform: uppercase;
	font-size: 360px;
	letter-spacing: 8px;
}

.page-header{
	background-size: cover;
	background-position: center center;
}

#putin-header{
	background-image: url("putin3.jpg");
}

#tank-header{
	background-image: url("t34-2.jpg");
}

#wildlife-header{
	background-image: url("wildlife1.jpg");
}

.fadein{
	animation-name: fadein;
	animation-timing-function: ease;
	animation-fill-mode: both;
	animation-duration: 1s;
}

@keyframes fadein{
	0% {opacity: 0;}
	100% {opacity: 1;}
}

.slidein{
	animation-name: slidein;
	animation-timing-function: ease;
	animation-fill-mode: both;
	animation-duration: 1s;
}

@keyframes slidein{
	0% {bottom: -64px;}
	100% {bottom: 0px;}
}

.fadein-1{
	animation-delay: 0.4s;
}

.fadein-q1{
	animation-delay: 0.2s;
}

.fadein-q2{
	animation-delay: 0.6s;
}

.fadein-q3{
	animation-delay: 0.8s;
}

.fadein-q4{
	animation-delay: 1.2s;
}
