body {
    margin: 0;
    font-size: 20px;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #181C26;
}

a{
  text-decoration: none;
}

.topbar {
    position: fixed;
    padding-bottom: 16px;
    width: 100%;
    height: 48px;
    background-color: #181C26;
    z-index: 999;
}

.page-section{
  padding-top: 128px;
  color: #fff;
  padding-bottom: 128px;
}

#hero {
    width: 100%;
    display: block;
    height: 100vh;
    color: #fff;
}

#main-heading {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 64px;
    display: inline-block;
}

#mainheading {
    font-family: 'Rubik';
    font-weight: 700;
    font-size: 128px;
    text-transform: uppercase;
    line-height: 0.85;
}

#subheading {
    font-family: 'Abril Fatface', display;
    font-size: 36px;
    color: #888;
    display: inline-block;
    margin-bottom: 32px;
    padding-bottom: 16px;
    border-bottom: 1px solid #888;
}

#main-picture{
  width: 500px;
  right: 64px;
  top: 52vh;
  position: absolute;
  z-index: -999;
}

#main-picture img{
  width: 100%;
}

::-webkit-scrollbar{
  background-color: #000;
}

::-webkit-scrollbar-thumb{
  background-color: #A5B8E5;
}

.section-title{
  max-width: 800px;
  margin: auto;
  font-family: 'Rubik';
  font-size: 42px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 32px;
}

.section-inner{
  max-width: 800px;
  margin: 0 auto;
}

#timeline{
  background-color: #111;
  box-shadow: inset 0px 0px 204px -6px rgba(0,0,0,0.75);
}

.section-body, .timeline-cont, .footer-text{
  font-size: 20px;
  font-family: 'Rubik';
  line-height: 1.68;
}

.timeline-cont{
  margin-top: 32px;
}

.timeline-line{
  border-top: 1px solid #fff;
  margin-top: 32px;
  margin-bottom: 32px;
  width: 2287px;
}

#timeline-container{
  width: calc(100% - 256px);
  margin: 0 128px;
  overflow-x: scroll;
}

.timeline-inner{
  margin-top: 64px;
}

.cont-cept{
  margin-top: 80px;
}

.body-table{
  width: 100%;
  margin-top: 64px;
  margin-bottom: 64px;
}

.body-table table{
  width: 100%;
}

.body-table td{
  height: 100px;
  box-sizing: border-box;
  padding: 16px;
  width: 50%;
  border: 1px solid #fff;
  margin: 0;
}

.body-image{
  margin-top: 64px;
  margin-bottom: 64px;
}

.body-image img{
  width: 100%;
  box-shadow: 0px 0px 24px 2px rgba(0,0,0,1);
}

.attack-row{
  width: 49%;
  display: inline-block;
}

.step-img img{
  width: 100%;
}

#step-3{
  position: relative;
  top: -184px;
}

#attack-para{
  padding-top: 64px;
}

.secitem{
  padding-right: 128px!important;
}

.timeline-uber{
  display: flex;
  flex-flow: row, nowrap;
}

.timeline-item{
  flex-shrink: 0;
  flex-grow: 0;
  width: 500px;
  padding-right: 32px;
  height: 500px;
  display: inline-block;
}

.timeline-title{
  font-family: 'Rubik';
  font-size: 40px;
  font-weight: 700;
}

.noshadow{
  box-shadow: none!important;
}

.logo {
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    margin-top: 20px;
    font-size: 20px;
}

.increase-spacing {
    letter-spacing: 6px;
}

#footer{
  width: 100%;
  background-color: #252B3A;
  text-align: center;
  padding: 64px 0;
}

.footer-text{
  color: #A3BEFF;
}
