body {
    margin: 0;
    font-size: 20px;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #222223;
}

a{
  text-decoration: none;
}

.topbar {
    position: fixed;
    width: 100%;
    height: 48px;
}

.page-section{
  padding-top: 128px;
  color: #fff;
  min-height: 400px;
}

#hero {
    width: 100%;
    display: block;
    height: 100vh;
    color: #fff;
}

#main-heading {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 64px;
    display: inline-block;
}

#mainheading {
    font-family: 'Rubik';
    font-weight: 700;
    font-size: 128px;
    text-transform: uppercase;
    line-height: 0.85;
}

#subheading {
    font-family: 'Abril Fatface', display;
    font-size: 36px;
    color: #888;
    display: inline-block;
    margin-bottom: 32px;
    padding-bottom: 16px;
    border-bottom: 1px solid #888;
}

#main-picture{
  width: 500px;
  right: 64px;
  top: 52vh;
  position: absolute;
}

#main-picture img{
  width: 100%;
}

.section-title{
  max-width: 800px;
  margin: auto;
  font-family: 'Rubik';
  font-size: 42px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 32px;
}

.section-inner{
  max-width: 800px;
  margin: 0 auto;
}

.section-body{
  font-size: 20px;
  font-family: 'Rubik';
  line-height: 1.68;
}

.timeline-line{
  border-top: 1px solid #fff;
  margin-top: 32px;
  margin-bottom: 32px;
}

#timeline-container{
  width: calc(100% - 256px);
  margin: 0 128px;
  overflow-x: scroll;
}

.timeline-inner{
  width: 200vw;
}

.body-table{
  width: 100%;
  margin-top: 64px;
  margin-bottom: 64px;
}

.body-table table{
  width: 100%;
}

.body-table td{
  height: 100px;
  box-sizing: border-box;
  padding: 16px;
  width: 50%;
  border: 1px solid #fff;
  margin: 0;
}

.body-image{
  margin-top: 64px;
  margin-bottom: 64px;
}

.body-image img{
  width: 100%;
  box-shadow: 0px 0px 24px 2px rgba(0,0,0,1);
}

.noshadow{
  box-shadow: none!important;
}

.logo {
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    margin-top: 20px;
    font-size: 20px;
}

.sidebar {
    width: 200px;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
}

.navbar {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navitem:hover > .navcirc{
  border-color: #fff;
}

.navitem:hover > .navcirc > span{
  color: #fff;
}

.navitem:hover > .navtext{
  color: #fff;
}

.navcirc {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    border: 1px solid #888;
    position: relative;
}

.navcirc span{
  position: relative;
  top: 3px;
  left: calc(50% - 4px);
  display: inline-block;
  width: 100%;
  color: #888;
  font-family: 'Rubik';
  font-size: 16px;
  font-weight: 300;
}

.navitem{
  height: 32px;
  width: 100%;
  display: block;
  margin: 16px 0;
}

.navtext{
  position: relative;
  top: 4px;
  left: 8px;
  display: inline-block;
}

.navtext {
    text-transform: uppercase;
    color: #888;
    text-decoration: none;
    font-family: 'Nunito';
    font-weight: 300;
}

.increase-spacing {
    letter-spacing: 6px;
}
