body{
  margin: 0;
  font-family: 'Tw Cen MT';
  font-size: 20px;
  transition: background-color 0.8s ease;
  overflow-x: hidden;
}

.center{
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.center-vert{
  top: 50%;
  transform: translate(-50%, -50%);
}

.link{
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.navlink{
  font-family: 'Tw Cen MT'!important;
  text-decoration: none;
  border-bottom: 1px solid blue;
}

/* NAVBAR */
/* NAVBAR */
/* NAVBAR */
/* NAVBAR */
/* NAVBAR */

.topbar, .bottombar{
  position: fixed;
  width: 100%;
  height: 64px;
  background-color: #fff;
  z-index: 100;
}

.topbar-inner{
  cursor: pointer;
}

.topbar-inner, .bottombar-inner{
  margin-top: 32px;
  top: 0;
}

.topbar a, .bottombar a{
  color: unset;
  text-decoration: unset;
}

.bottombar{
  bottom: 0;
}

.bottombar a{
  opacity: 0.6;
  text-decoration: none;
  margin: 0 8px;
  cursor: pointer;
}

.bottombar a:hover{
  opacity: 1.0;
}

/* PAGE */
/* PAGE */
/* PAGE */
/* PAGE */
/* PAGE */

.page-outer{
  padding: 28px;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  top: 0;
  padding-bottom: 128px;
}

.page-inner{
  padding-top: 96px;
  width: 700px;
}

.page-inner-content{
  padding: 48px 0;
}

.page-inner p{
  font-family: "Arimo";
  line-height: 1.6;
  margin: 32px 0;
}

.page-inner img, .video-embed, .image-grid{
  position: relative;
  width: calc(100% + 56px);
  left: -28px;
  margin: 32px 0;
}

.page-inner img.image-tall{
  width: 100%;
  left: 0;
}


@media (min-width: 800px){
  .page-inner img, .video-embed{
    position: relative;
    width: calc(100% + 384px);
    left: -192px;
  }

  .image-grid{
    position: relative;
    width: calc(100vw - 64px);
    left: calc(50% - 50vw);
    margin-left: 32px;
  }

  .image-grid img{
    max-width: calc(33% - 3px);
    position: unset;
    left: unset;
    width: unset;
    margin: unset;
  }
}

.video-embed{
  height: 0;
  padding-bottom: 75%;
  margin: 64px 0;
}

.video-embed iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.page-header{
  padding-bottom: 64px;
}

h1.page-title, h1.case-title{
  font-family: 'Playfair Display';
  font-size: 56px;
  margin: 16px 0 0 0;
}

h1.case-title{
  font-family: 'Oswald';
  font-weight: 400;
  text-transform: uppercase;
}

@media (max-width: 500px){
  h1.page-title, h1.case-title{
    font-size: 42px;
  }
}

.page-back{
  border-bottom: 1px solid #000;
  display: inline-block;
  opacity: 0.4;
  padding-bottom: 4px;
  transition: all 0.4s ease;
  cursor: pointer;
}

.page-back:hover{
  border-bottom-width: 2px;
  opacity: 1.0;
}

.page-arrow{
  display: inline-block;
  margin: 0 8px;
}

/* PROJECTS */
/* PROJECTS */
/* PROJECTS */
/* PROJECTS */
/* PROJECTS */

.projects-container{
  flex-flow: row wrap;
  display: flex;
  margin-bottom: 128px;
}

.project-item img{
  width: 100%;
}

.project-item{
  position: relative;
  flex: 100% 0 0;
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
  padding: 32px 0;
}

.project-descript{
  line-height: 1.3;
  padding-top: 16px;
  font-weight: 700;
}

.project-category{
  opacity: 0.4;
  font-weight: 400;
}

@media (min-width: 1200px){
  .project-item{
    padding: 32px;
    flex: 50% 0 0;
  }

  div.project-item:nth-of-type(2n){
    top: 128px;
  }

  .project-descript{
    color: #fff;
    position: absolute;
    top: 42px;
    left: 64px;
    font-weight: 400;
  }

  .project-descript-top-right{
    text-align: right;
    right: 64px;
  }
}

/* HOME */
/* HOME */
/* HOME */
/* HOME */
/* HOME */

.home-text{
  font-size: 96px;
  font-family: 'Playfair Display';
  cursor: pointer;
  line-height: 0.9;
  margin: 36px 0;
}

.home-text-inner{
  border-bottom: 1px solid #fff;
  opacity: 0.6;
  transition: all 0.2s ease;
}

.home-text-inner:hover{
  border-bottom: 3px solid #fff;
  opacity: 1.0;
}

.home-text-light{
  opacity: 0.2;
}

.home-descript{
  max-width: 500px;
  line-height: 1.4;
  margin-top: 72px;
  opacity: 0.6;
  position: absolute;
}

.home-descript a{
  color: unset;
  text-decoration: none;
  display: inline-block;
  opacity: 0.4;
  margin-right: 12px;
  transition: all 0.2s ease;
}

.home-descript a:hover{
  opacity: 1.0;
}

.home-outer{
  top: calc(50% - 128px);
}

.home-text-hidden{
  font-family: 'Tw Cen MT Light';
  font-size: 20px;
  padding: 6px;
  display: inline-block;
  margin: 8px 0;
  text-transform: uppercase;
}

#home-learntodo .home-text-hidden{
  margin-top: 42px;
}

.home-text-hidden-outer{
  opacity: 0;
  transition: all 0.2s ease;
}

.home-text:hover .home-text-hidden-outer{
  opacity: 1.0;
}

#home-text-about{
  position: absolute;
  right: 0;
}

@media (max-width: 800px){
  .home-text{
    font-size: 42px;
    margin: 24px 0;
  }
  .home-text-inner{
    opacity: 1.0;
  }
  .home-text-hidden-outer{
    opacity: 0.6;
  }
  #home-learntodo .home-text-hidden{
    margin-top: 24px;
  }
  .page-inner{
    width: 100%;
  }
}

/* CASE */
/* CASE */
/* CASE */
/* CASE */
/* CASE */

.case-header{
  width: calc(100% + 56px);
  position: relative;
  left: -28px;
  background-color: #222;
  color: #fff;
  text-align: center;
  padding-top: 96px;
  margin: 0;
  z-index: -20;
}

#case-h4h .case-header{
  background-color: #222;
}

#case-msgov .case-header{
  background-color: #272C42;
}

.case-header:nth-of-type(1){
  padding-top: 192px;
}

.case-header:nth-of-type(2){
  margin-top: -1px;
}

.case-header .page-back{
  border-bottom-color: #fff;
}

.case-header-blank{
  height: 50%;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #fff;
  z-index: 0;
}

.case-header h1{
  font-size: 56px;
  margin: 16px 0;
}

.case-header img{
  position: relative;
  width: 900px;
  z-index: 20;
  box-shadow: 0 0 28px 4px rgba(0,0,0,0.4);
}

.case-descript{
  line-heightL: 1.4;
  opacity: 0.7;
}

@media (max-width: 1000px){
  .case-header{
    padding-right: 28px;
    padding-left: 28px;
    box-sizing: border-box;
  }
  .case-header img{
    width: 100%;
  }
  .case-header-blank{
    width: calc(100% + 28px);
    left: -28px;
  }
}

/* ANIMATE */
/* ANIMATE */
/* ANIMATE */
/* ANIMATE */
/* ANIMATE */

.fadein-1, .fadein-2, .fadein-3{
  animation: fade 0.8s 0.2s;
  animation-fill-mode: both;
}

.fadein-2{
  animation-delay: 0.8s;
}

.fadein-3{
  animation-delay: 1.2s;
}

@keyframes fade{
  0% {opacity: 0;}
  100% {opacity: 1.0;}
}

.floaton-right{
  animation: floaton-right 0.8s 0.2s;
  animation-fill-mode: both;
}

.floaton-left{
  animation: floaton-left 0.8s 0.2s;
  animation-fill-mode: both;
}

.floaton-bottom{
  animation: floaton-bottom 0.8s 0.2s;
  animation-fill-mode: both;
}

@keyframes floaton-right{
  0% {left: 240px; opacity: 0;}
  100% {left: 0; opacity: 1.0;}
}

@keyframes floaton-left{
  0% {left: -240px; opacity: 0;}
  100% {left: 0; opacity: 1.0;}
}

@keyframes floaton-bottom{
  0% {top: 64px; opacity: 0;}
  100% {top: 0px; opacity: 1.0;}
}
