/* VIDEO PORTFOLIO PAGE */

body{
  margin: 0;
  background-color: #fff;
  font-size: 20px;
  color: #222;
  font-family: 'Rubik';
  line-height: 1.6;
}

a{
  text-decoration: none;
  color: unset;
}

a.deactivated{
   pointer-events: none!important;
   cursor: default;
   color: gray;
   border-bottom: 2px solid gray;
}

.fa{
  font-family: 'FontAwesome'!important;
}

/* NAVBAR */

.navbar{
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  width: 100%;
  height: 64px;
  display: flex;
  flex-direction: row;
  line-height: 64px;
  align-content: stretch;
}

.navbar-dark{
  color: #222;
}

.navbar-light{
  color: #fff;
}

.title-name{
  font-family: 'Oswald';
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1px;
  padding-left: 22px;
  font-weight: 400;
}

.navbar-right{
  margin-left: auto;
  display: inline-flex;
  flex-direction: row;
  align-content: stretch;
}

.navbar-item{
  transition: all 0.2s ease;
  padding: 0 16px;
  border-bottom: none;
}

.navbar-dark .navbar-item:hover{
  border-bottom: 2px solid #222;
}

.navbar-light .navbar-item:hover{
  border-bottom: 2px solid #fff;
}

.navbar-item:hover{
  transition: all 0.2s ease;
}

/* HOME HERO */

.scroll-down{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

.scroll-down-arrow{
  animation: scroll-down-movement 2s infinite;
  width: 0;
  height: 0;
  border-top: 8px solid #222;
  border-bottom: 8px solid transparent;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  margin: 32px auto;
  position: relative;
}

@keyframes scroll-down-movement{
  0%{top: -8px; opacity: 0;}
  40%{opacity: 1;}
  60%{top: 8px; opacity: 0;}
  100%{top: 8px; opacity: 0;}
}

.home-hero{
  background-color: #f0f0f0;
}

.hero-text-outer{
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
  height: 100%;
}

.hero-text-left ,.hero-text-right{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.hero-text-left{
  left: 64px;
}

.hero-text-right{
  right: 64px;
  padding-left: 440px;
  text-align: right;
}

.hero-name{
  line-height: 1.0;
  font-size: 96px;
  font-family: 'Fredericka the Great';
}

.hero-subline{
  padding-top: 24px;
  margin-top: 40px;
  border-top: 1px solid #666;
  font-weight: 400;
  display: inline-block;
  font-family: 'Oswald';
  text-transform: uppercase;
  font-size: 32px;
  letter-spacing: 1px;
}

.hero-item{
  font-size: 48px;
  color: #ddd;
  display: block;
  font-family: 'Fredericka the Great';
}

.hero-item-highlight{
  color: #222;
  font-weight: 400;
}

.home-section{
  min-height: 200px;
}

.home-section:last-of-type{
  padding-bottom: 512px;
}

.section-inner{
  width: 1000px;
  margin: 0 auto;
}

.section-wide{
  width: 700px;
  position: relative;
  left: 156px;
}

.section-note{
  width: 600px;
  margin: 64px auto;
  padding: 64px 0;
  box-sizing: border-box;
  padding: 128px 64px;
}

.info-marker{
  width: 64px;
  height: 64px;
  border-radius: 32px;
  border: dashed 1px #222;
  text-align: center;
  margin: 0 auto 64px auto;
  font-size: 48px;
  line-height: 64px;
  font-family: 'Fredericka the Great';
}

/* HOMEPAGE PROJECT SECTION */

.project-cover-outer{
  position: relative;
  margin: 128px 0;
  overflow: hidden;
  cursor: pointer;
}

.project-cover-outer:nth-of-type(4n-2){
  left: -64px;
}

.project-cover-outer:nth-of-type(2n+1){
  left: 64px;
}

 .project-cover-outer:nth-of-type(4n){
   left: 192px;
 }

.project-cover{
  width: 100%;
  transition: all 0.5s ease;
  z-index: 600;
}

.project-cover-outer:hover > .project-cover-hover{
  transition: all 0.5s ease;
  clip: rect(0,1000px,563px,0);
}

.project-cover-outer:hover > .project-cover{
  mtransform: scale(1.05);
}

.project-cover-hover{
  transition: all 0.5s ease;
  width: 100%;
  height: 100%;
  position: absolute;
  clip: rect(563px,1000px,563px,0);
  left: 0;
  top: 0;
  background-color: #fff;
  background-size: 1000px;
  background-position: center 0%;
  z-index: 800;
}

.project-hover-message{
  color: #222;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 32px;
  font-family: 'Oswald';
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: right;
  display: flex;
  flex-direction: row;
  height: 86px;
  justify-content: stretch;
}

.project-message-left{
  width: 200px;
  line-height: 1.0;
}

.project-message-arrow{
  background-color: #fff;
  padding-left: 16px;
}

.project-message-arrow i{
  line-height: 86px;
}

.project-message-sub{
  display: inline-block;
  background-color: #fff;
  height: 43px;
  margin: 0;
  padding-left: 10px;
  box-sizing: border-box;
}

.project-message-sub:first-of-type{
  padding-top: 10px;
  padding-bottom: 5px;
}

.project-message-sub:last-of-type{
  padding-top: 5px;
}

#fallen-hover{
  background-image: url("project-covers/fallen-base-4.jpg");
}

#sony-hover{
  background-image: url("project-covers/sonyxb950bt-base.jpg");
}

/* ABOUT */

.about-header-outer{
  text-align: center;
}

.about-header-inner{
  padding: 128px 0;
  display: inline-block;
  margin: 0 auto;
}

.about-header-title{
  font-family: 'Fredericka the Great';
  font-size: 100px;
}

.about-header-subtitle{
  border-top: 1px solid #666;
  padding-top: 32px;
}

.about-body-main{
  width: 1000px;
  margin: 0 auto;
  padding-bottom: 512px;
}

.about-body-main img{
  width: 100%;
}

.about-body-content{
  width: 600px;
  margin: 0 auto;
  padding: 64px 0;
}

/* PROJECT HERO */

.project-hero{
  width: 100%;
  min-height: 800px;
  height: 80vh;
  background-position: center center;
  background-size: cover;
}

#sony-hero{
  background-image: url("sony-xb950-review/screen-1.jpg");
}

#fallen-hero{
  background-image: url("fallen-short-film/screen-2.jpg");
}

.project-section{
  width: 100%;
  min-height: 200px;
  padding-bottom: 128px;
}

.project-section p{
  max-width: 700px;
  margin: 32px auto;
}

.project-section h1{
  margin: 128px 0 16px 0;
  font-size: 64px;
}

.project-section h1, .project-section h2{
  font-family: 'Oswald';
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
}

.project-section h2{
  margin: 128px 0 32px 0;
  font-size: 42px;
}

.project-section a{
  color: blue;
  border-bottom: 2px solid blue;
}

.project-subline{
  text-align: center;
  color: #666;
  margin-bottom: 64px;
}

.project-youtube{
  box-shadow: 0 0 24px 2px rgba(0,0,0,0.5);
  width: 1000px;
  height: 562px;
}

.project-buffer{
  width: 100%;
  height: 32px;
}

/* TOOLS GRAPHIC */

.project-tools{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.project-tool-item{
  flex: 0 0 25%;
  box-sizing: border-box;
  padding: 16px;
}

.project-tool-title{
  line-height: 1.1;
  font-size: 24px;
  margin-bottom: 12px;
}

.project-tool-subtitle{
  line-height: 1.1;
}

.project-tool-picture{
  width: 100%;
  height: 218px;
  padding-bottom: 32px;
}

.project-tool-picture img{
  width: 100%;
}

.app-icon{
  box-sizing: border-box;
  text-align: center;
  line-height: 48px;
  width: 50px;
  color: #000;
}

.adobe{
  font-family: 'Fredericka the Great';
  font-size: 24px;
  border: 1px dotted #666;
}

.sony{
  font-family: 'Open Sans';
  font-size: 16px;
}

/* CALENDAR */

.calendar{
  display: inline-block;
  position: absolute;
  top: 0;
  left: -360px;
}

.calendar h3{
  text-align: center;
  font-size: 30px;
}

.calendar table{
  border-collapse: collapse;
  box-shadow: 0 0 8px 1px rgba(0,0,0,0.1);
  padding: 4px;
  color: #bbb;
}

.calendar td{
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  padding: 0;
  margin: 0;
  position: relative;
}

.day-start, .day-idea, .day-pre, .day-strbd, .day-prod, .day-post, .day-end{
  color: #fff;
}

.day-start{
  background-color: #adf0ff;
}

.day-strbd-full{
  background-color: #0098d2;
}

.day-strbd-back{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  width: 0;
  height: 0;
  border-bottom: 20px solid #0098d2;
  border-right: 20px solid #0098d2;
  border-left: 20px solid #56caf6;
  border-top: 20px solid #56caf6;
}

.day-post-full{
  background-color: #222;
}

.day-post-back{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  width: 0;
  height: 0;
  border-bottom: 20px solid #222;
  border-right: 20px solid #222;
  border-left: 20px solid #F24C0D;
  border-top: 20px solid #F24C0D;
}

.day-pre{
  background-color: #56caf6;
}

.day-prod{
  background-color: #F24C0D;
}

.day-idea{
  background-color: #14A0BE;
}

.day-end{
  background-color: #F58155;
}

.row-weekdays{
  background-color: #f6f6f6;
}

.calendar-key{
  margin-top: 32px;
}

.calendar-key-item{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.calendar-key-color{
  width: 20px;
  height: 20px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 16px;
}

.day-idea, .day-pre-ov, .day-strbd, .day-prod-ov, .day-post-ov{
  background-color: unset;
  color: unset;
}

.day-strbd-back, .day-post-back{
  display: none;
}

/* .day-post-ov{
  background-color: #000!important;
  color: #fff!important;
}

*/

.day-pre-ov{
  background-color: #56caf6!important;
  color: #fff!important;
}

/*

.day-prod-ov{
  background-color: #F24C0D!important;
  color: #fff!important;
}

.day-idea-ov{
  background-color: #14A0BE!important;
  color: #fff!important;
}

.day-strbd{
  background-color: #0098d2!important;
  color: #fff!important;
}

*/
