/* VIDEO PORTFOLIO PAGE */

body{
  margin: 0;
  background-color: #f6f6f6;
}

.hero-item{
  font-size: 100px;
  color: #ddd;
  font-family: 'Barrio';
  display: inline-block;
}

.hero-item-highlight{
  color: #222;
}
