/* VIDEO PORTFOLIO PAGE */

body{
  margin: 0;
  background-color: #f6f6f6;
  font-size: 20px;
  color: #222;
  font-family: 'Rubik';
  line-height: 1.6;
}

.navbar{
  position: absolute;
  top: 32px;
  left: 32px;
}

a{
  text-decoration: none;
  border-bottom: 2px solid blue;
  color: blue;
}

a.deactivated{
   pointer-events: none!important;
   cursor: default;
   color: gray;
   border-bottom: 2px solid gray;
}

.fa{
  font-family: 'FontAwesome'!important;
}

.scroll-down{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

.scroll-down-arrow{
  animation: scroll-down-movement 2s infinite;
  width: 0;
  height: 0;
  border-top: 8px solid #222;
  border-bottom: 8px solid transparent;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  margin: 32px auto;
  position: relative;
}

@keyframes scroll-down-movement{
  0%{top: -8px; opacity: 0;}
  40%{opacity: 1;}
  60%{top: 8px; opacity: 0;}
  100%{top: 8px; opacity: 0;}
}

.hero-text-outer{
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
  height: 100%;
}

.hero-text-left ,.hero-text-right{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.hero-text-left{
  left: 64px;
}

.hero-text-right{
  right: 64px;
  padding-left: 440px;
  text-align: right;
}

.hero-name{
  line-height: 1.0;
  font-size: 96px;
  font-family: 'Fredericka the Great';
}

.hero-subline{
  padding-top: 24px;
  margin-top: 40px;
  border-top: 1px solid #666;
  font-weight: 400;
  display: inline-block;
  font-family: 'Oswald';
  text-transform: uppercase;
  font-size: 32px;
  letter-spacing: 1px;
}

.hero-item{
  font-size: 48px;
  color: #ddd;
  display: block;
  font-family: 'Fredericka the Great';
}

.hero-item-highlight{
  color: #222;
  font-weight: 400;
}

.home-section{
  min-height: 200px;
}

.home-section:last-of-type{
  padding-bottom: 512px;
}

.section-inner{
  width: 1000px;
  margin: 0 auto;
}

.section-note{
  width: 600px;
  margin: 64px auto;
  padding: 64px 0;
  box-sizing: border-box;
  padding: 128px 64px;
}

.info-marker{
  width: 64px;
  height: 64px;
  border-radius: 32px;
  border: dashed 1px #222;
  text-align: center;
  margin: 0 auto 64px auto;
  font-size: 48px;
  line-height: 64px;
  font-family: 'Fredericka the Great';
}

.project-cover-outer{
  position: relative;
  margin: 128px 0;
  overflow: hidden;
  cursor: pointer;
}

.project-cover-outer:nth-of-type(4n-2){
  left: -64px;
}

.project-cover-outer:nth-of-type(2n+1){
  left: 64px;
}

 .project-cover-outer:nth-of-type(4n){
   left: 192px;
 }

.project-cover{
  width: 100%;
  transition: all 0.5s ease;
  z-index: 600;
}

.project-cover-outer:hover > .project-cover-hover{
  transition: all 0.5s ease;
  clip: rect(0,1000px,563px,0);
}

.project-cover-outer:hover > .project-cover{
  mtransform: scale(1.05);
}

.project-cover-hover{
  transition: all 0.5s ease;
  width: 100%;
  height: 100%;
  position: absolute;
  clip: rect(563px,1000px,563px,0);
  left: 0;
  top: 0;
  background-color: #f6f6f6;
  background-size: 1000px;
  background-position: center 0%;
  z-index: 800;
}

.project-hover-message{
  color: #222;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 32px;
  font-family: 'Oswald';
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: right;
  display: flex;
  flex-direction: row;
  height: 86px;
  justify-content: stretch;
}

.project-message-left{
  width: 200px;
  line-height: 1.0;
}

.project-message-arrow{
  background-color: #f6f6f6;
  padding-left: 16px;
}

.project-message-arrow i{
  line-height: 86px;
}

.project-message-sub{
  display: inline-block;
  background-color: #f6f6f6;
  height: 43px;
  margin: 0;
  padding-left: 10px;
  box-sizing: border-box;
}

.project-message-sub:first-of-type{
  padding-top: 10px;
  padding-bottom: 5px;
}

.project-message-sub:last-of-type{
  padding-top: 5px;
}

#fallen-hover{
  background-image: url("project-covers/fallen-base-4.jpg");
}

#sony-hover{
  background-image: url("project-covers/sonyxb950bt-base.jpg");
}

.project-cover-column{
  padding: 0 16px;
  height: 100%;
  display: inline-block;
  overflow: hidden;
  box-sizing: border-box;
}

.project-cover-left{
  width: 33%;
  padding-top: 32px;
}

.project-cover-right{
  width: 66%;
}

.project-cover-right-inner{
  display: flex;
  flex-flow: column nowrap;
}

.project-cover-right-bottom{
  width: 100%;
  padding-top: 32px;
  display: flex;
  flex-direction: row;
  height: calc(100% - 256px);
  position: relative;
}


.project-cover-outer h1{
  margin-bottom: 8px;
  font-family: 'Fredericka the Great';
  font-weight: 400;
  color: #000;
  font-size: 50px;
}

.project-cover-outer p{
  margin-top: 0;
}

.project-cover-column img{
  width: 100%;
}

.project-cover-outer .subtitle{
  line-height: 1.3;
}

.project-cover-subcolumn:nth-of-type(1){
  border-right: 1px solid #ddd;
  padding-right: 20px;
}

.project-cover-subcolumn:nth-of-type(2){
  padding-left: 20px;
  line-height: 1.3;
}

.project-cover-subcolumn{
  box-sizing: border-box;
  display: inline-block;
  flex: 0 0 49%;
}

.project-cover-button{
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 14px;
  border: 2px solid #222;
  background-color: #222;
  color: #fff;
  z-index: 999;
}

.project-cover-button:hover{
  border: 2px solid #999;
  background-color: #333;
}

.project-cover-tools{
  margin-bottom: 20px;
  display: flex;
  flex-flow: row nowrap;
}

.project-tool-item{
  width: 48px;
  height: 48px;
  margin: 4px;
}

.app-icon{
  box-sizing: border-box;
  text-align: center;
  line-height: 48px;
  color: #000;
}

.project-tool-item img{
  width: 100%;
}

.adobe{
  font-family: 'Fredericka the Great';
  font-size: 24px;
  border: 1px dotted #666;
}

.sony{
  font-family: 'Open Sans';
  font-size: 16px;
}

.about-header-outer{
  text-align: center;
}

.about-header-inner{
  padding: 128px 0;
  display: inline-block;
  margin: 0 auto;
}

.about-header-title{
  font-family: 'Fredericka the Great';
  font-size: 100px;
}

.about-header-subtitle{
  border-top: 1px solid #666;
  padding-top: 32px;
}

.about-body-main{
  width: 1000px;
  margin: 0 auto;
  padding-bottom: 512px;
}

.about-body-main img{
  width: 100%;
}

.about-body-content{
  width: 600px;
  margin: 0 auto;
  padding: 64px 0;
}
